.block {
    background-color: green;
    top: 0%;
    left: 25%;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    position: absolute;
}

.top {
    position: relative;
    width:93.5%;
    background-color: yellow;
    padding: 12px;
    margin: 25px;
    padding-left: 0px;
    height: 15px;
}

.mid1 {
    position: relative;
    height: 328px;
    width: 40%;
    background-color: red;
    /* padding-right: 40px; */

}

.mid2 {
    position: relative;
    height: 328px;
    width: 195px;
    background-color: red;
    margin-left: 283px;
    margin-top: -328px;
    /* padding-left: 90px; */
}

.mid {
    height: 328px;
    width: 479px;
    margin: 0 auto;
    background-color: grey;
}