<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programmer Fox Club #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<ul>
  <li><a href="#">Information</a></li>
</ul>

<img src="/images/greenfox.png" alt="Mr.Fox" style="width:128px;height:128px;"></img>

<p th:text=" 'This is Mr.Fox. Currently living on pizza and lemonade. He knows 2 tricks.'"></p>
<h2 th:text=" 'Known tricks'"></h2>
<ul>
  <li>write HTML</li>
  <li>code in Java</li>

</ul>
</body>

</html>