<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title> Edit todo</title>
</head>
<body>
<h1>Edit todo</h1>
<table>
  <form th:action="@{/todo/{id}edit}" method="post" th:object="${todo}">
    <input type="hidden" th:field="*{id}"/>

    <p>Title</p>
    <p><input type="text" th:field="*{title}" th:value="*{title}"/></p>
    <p>Is it urgent?</p>
    <p><input type="checkbox" name="Urgent" th:field="*{urgent}" th:value="*{urgent}"/></p>
    <p>Is it done?</p>
    <p><input type="checkbox" name="Done" th:field="*{done}" th:value="*{done}"/></p>

    <p>
      <span><input type="submit" value="Submit"/></span>
    </p>
    <!--<input type="text" th:field="*{todo.isUrgent}"/>-->
    <!--<input type="text" th:field="*{todo.isDone}"/>-->
  </form>
</table>
</body>
</html>